*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  background: linear-gradient(to bottom left, rgb(217, 247, 137),rgb(118, 248, 179));
  background-attachment: fixed;
}
h1 {
  font-weight: bold;
}
p {
  font-weight: bold;
}
section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  border: 2px;
  max-width: 25rem;
  background-color: white;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.social{
  display: flex;
  justify-content: center;
  gap: 40px;
}
figure {
  border: 1px solid black;
  padding: 15px;
  width: 4em;
  height: 4em;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}